<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Join our Ghost community
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Premium content for Clubcard NFT holders
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white px-4 shadow sm:rounded-lg sm:px-10 py-8">
      <%= form_with(url: signups_path, method: :post, data: { turbo: false }) do |f| %>
        <div class="space-y-6">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email address
            </label>
            <div class="mt-1">
              <%= f.email_field :email, value: ENV["TEST_EMAIL"], class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", required: true %>
            </div>
          </div>

          <div>
            <label for="contract_address" class="block text-sm font-medium text-gray-700">
              Contract address
            </label>
            <div class="mt-1">
              <%= f.text_field :contract_address, value: ENV["CONTRACT_ADDRESS"], class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <p class="mt-2 text-sm text-gray-500" id="contract-address--description">Enter a <code>0x1234...</code> contract address to require this NFT on the next step. Leave blank for to allow any wallet to continue.</p>
          </div>

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Continue
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
